html {
  box-sizing: border-box;
  background-color: rgb(204, 240, 184);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
}
.titulo {
  text-align: center;
  font-size: 4rem;
  color: rgb(45, 144, 45);
}
.table {
  width: 80%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: 300;
  border-collapse: separate;
  border-spacing: 5px;
}
.table tr,
.table td,
.table th {
  border: 1px solid rgb(26, 112, 4);
  column-span: none;
  border-radius: 1em;
}
.table tr :nth-child(1) {
  background-color: rgb(255, 200, 128);
}
.table .horario :nth-child(1) {
  background-color: rgb(148, 148, 234);
}
.table td {
  position: relative;
  min-width: 100px;
  height: 30px;
  padding: 1rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
}
.table th {
  background-color: rgb(148, 148, 234);
}

.table .DES {
  background-color: rgb(255, 138, 128);
}
.table .DDI {
  background-color: rgb(255, 205, 210);
}
.table .DAW {
  background-color: rgb(179, 157, 219);
}
.table .EI {
  background-color: rgb(234, 236, 88);
}
.table .DEC {
  background-color: rgb(188, 170, 164);
}
.table .LC {
  background-color: rgb(0, 128, 128);
}

.table td:hover {
  position: relative;
  z-index: 10;
  filter: brightness(140%);
}

.table tr :nth-child(1):hover {
  filter: brightness(100%);
}

.activo::before {
  position: absolute;
  content: attr(data-before);
  top: -100px;
  left: 130px;
  z-index: 10;
  width: 130px;
  height: 100px;
  border-radius: 10px;
  border: solid 1px black;
  background-color: rgba(235, 233, 243, 0.8);
  text-align: center;
  padding: 0.8rem;
}

@media only screen and (max-width: 850px) {
  .table td {
    min-width: 50px;
  }
}
@media only screen and (max-width: 700px) {
  .activo::before {
    top: -125px;
    left: -50%;
  }
  .table tr :nth-child(3),
  .table tr :nth-child(5),
  .table tr :nth-child(6) {
    display: none;
  }
  .table td {
    min-width: 50px;
    padding: 0.6rem;
  }
  html {
    font-size: 13px;
  }
}
